<div >
  <h1>{{title}}</h1>
</div>

<div class="row marketing">
  <div class="row">
     <label >input 1:</label>
      <input
              id="input1"
              type="text"
              >
  </div>
    <div class="row">
        <label >input 2:</label>
        <input
                id="input2"
                type="text"
                >
    </div>
    <div class="row">
        <label >input 3:</label>
        <input
                id="input3"
                type="text"
                >
    </div>
    <div class="row">
        <label >input 4:</label>
        <input
                id="input4"
                type="text"
                >
    </div>
    <div class="row">
        <label >input 5:</label>
        <input
                id="input5"
                type="text"
                >
    </div>
    <div class="row">
        <label >input 6:</label>
        <input
                id="input6"
                type="text"
                >
    </div>
    <div class="row">
        <label >input 7:</label>
        <input
                id="input7"
                type="text"
                >
    </div>
    <div class="row">
        <label >input 8:</label>
        <input
                id="input8"
                type="text"
                >
    </div>
    <div class="row">
        <label >input 9:</label>
        <input
                id="input9"
                type="text"
                >
    </div>
</div>

<div>
    <textarea id="logArea" style= "width:500px; height:200px"/>
</div>

<div>
    <button id="testBtn"
            ng-click="onTestBtnClick()"
            >Test</button>
</div>
