<div class="jumbotron">
  <h1>'Hello, 'Hello!</h1>
  <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <div class="row">
     <label >input 1:</label>
      <input
              type="text"
              >
  </div>
    <div class="row">
        <label >input 2:</label>
        <input
                type="text"
                >
    </div>
    <div class="row">
        <label >input 3:</label>
        <input
                type="text"
                >
    </div>
    <div class="row">
        <label >input 4:</label>
        <input
                type="text"
                >
    </div>
    <div class="row">
        <label >input 5:</label>
        <input
                type="text"
                >
    </div>
    <div class="row">
        <label >input 6:</label>
        <input
                type="text"
                >
    </div>
    <div class="row">
        <label >input 7:</label>
        <input
                type="text"
                >
    </div>
    <div class="row">
        <label >input 8:</label>
        <input
                type="text"
                >
    </div>
</div>
